<!DOCTYPE html>
<html>

<%- include head %>
<body>
<%- include nav %>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Image</th>
        <th scope="col">Description</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
            <% var counter = 0 %>
            <% for(var product in data.products) { %>
      <form method="POST" action="/cart/delete">
      <tr>
        <% counter++ %>
        <th scope="row"><%= counter %></th>
        <td><img class="cartPrdImg img-fluid" src=<%- data.products[product][3] %> alt="Product"></td>
        <input name="orderLineID" type="hidden" value=<%- data.products[product][4] %>>
        <td><%= data.products[product][0] %></td>
        <td data-toggle="modal" data-target="#quantityForm" data-orderline-id=<%- data.products[product][4] %>><%= data.products[product][2] %></td>
        <td><%= '$' + parseFloat(data.products[product][1]) %></td>
        <td><button class="close" aria-label="close" type="submit" value="0" >X</button></td>
      </tr>
    </form>
      <% } %>

    </tbody>
  </table>
</div>
<div>
  <span>Total: <%= '$' + parseFloat(data.subTotal) %></span>
  <br>
  <a href="/order">
   <button type="button" class="btn btn-primary">Checkout</button>
  </a>  
</div>

<section>
      
  <!-- Modal -->
  <div class="modal fade" id="quantityForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Change Quantity</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <form method="POST" action="/cart/update">
                <input type="hidden" name="orderLineID">
                <h6>Quantity</h6>
                <select name="quantity" class="form-control">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </div>
            </div>
            <br/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
        </div>
      </div>
    </div>
  
</section>
<%- include footer %>
<%- include popups %>
<%- include scripts %>
<script src="/javascripts/modal.js"></script>
</body>

</html>