<!DOCTYPE html>
<html>

<%- include head %>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Image</th>
        <th scope="col">Description</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
            <% var counter = 0 %>
            <% for(var product in data.products) { %>
      <tr>
        <% counter++ %>
        <th scope="row"><%= counter %></th>
        <td><img class="cartPrdImg img-fluid" src=<%- data.products[product][3] %> alt="Product"></td>
        <td><%= data.products[product][0] %></td>
        <td><%= data.products[product][2] %></td>
        <td><%= data.products[product][1] %></td>
      </tr>
      <% } %>

    </tbody>
  </table>
</div>
<div>
  <span>Total: <%= data.subTotal %></span>
  <br>
  <button href ="order.html" type="button" class="btn btn-primary">Checkout</button>
</div>
<%- include popups %>
<%- include scripts %>

</html>